<div class="d-flex justify-content-center chartclass ">
    <span *ngFor='let weekday of weekDays ;let i = index' [ngClass]="{'active': tab === weekday.Day}"
        class="  mx-4 btncls btcl" (click)="changeToSeries(weekday.Day,weekday.Date)">{{weekday.Day}}</span>
</div>
<div>
    <h3 class="d-flex justify-content-center percla"><span class="clsCurrentTotal">{{currentWeekTotal}}</span>
        <span
            [ngClass]='{clsPercentageGreen : (difference > 0),clsPercentageRed: !(difference > 0)}'>({{difference}}%)</span>
    </h3>
</div>

<div class="charts">
    <google-chart #chart [title]="title" [type]="type" [data]="data" [options]="options" [width]="width"
        [height]="height">
    </google-chart>
</div>
<!-- [columnNames]="columnNames" -->